body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0F2F5;
}

nav {
    background-color: white !important;
    border-bottom: 1px solid #E4E6EB;
    box-shadow: rgb(99 99 99 / 20%) 0px 1px 4px 0px;
}

#search-bar {
    display: flex;
}

#search-bar label {
    z-index: 2;
    cursor: pointer;
    border-radius: 50%;
    background-color: #F0F2F5;
}

#search-bar .glass {
    position: relative;
    width: 35px;
    height: 35px;
}

#search-bar image {
    width: 14px;
}

#search-bar form {
    margin-left: -20px;
    display: flex;
    position: relative;
    background-color: #e5e5e5;
    border-radius: 25px;
    display: none;
}

#search-bar .space {
    background-color: #e5e5e5;
    width: 10px;

}

#search-bar input {
    height: 35px;
    background-color: #F0F2F5;
    border-radius: 25px;
    font-size: 14px;
}

#search-bar .form-control {
    border: 0px none;
    box-shadow: none;
}

#search-bar .form-control:focus {
    border: 0px none;
    box-shadow: none;
}

nav .glass img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

nav .dropdown-menu {
    /* min-width: 5rem; */
    --bs-dropdown-min-width: 0rem;
    right: 0;
    left: auto !important;
}

.navbar-brand img {
    width: 120px;
    height: 24px;
}

a.navbar-brand {
    padding-top: 0;
    padding-left: 0.5rem;
}

#main {
    display: flex;
    background-color: #F0F2F5;
    /* min-height: 807px; */
    flex-wrap: wrap;
}

#vertical-nav {
    position: fixed;
    height: 100%;
    width: 59px;
    background-color: white;
    border-right: #e0e0e0 1px solid;
    box-shadow: rgb(99 99 99 / 20%) 0px 1px 4px 0px;
    z-index: 5;
}



/*  */

footer {
    margin-left: 10%;
    margin-right: 5%;
    width: 85%;
    font-size: 14px;
}