/* *** */
/* NEW-POST */
/* *** */

#section-profile-new-post {
    position: absolute;
    display: none;
    z-index: 1500;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding-top: 0px;
}

.new-post-container {
    position: relative;
    padding: 1em;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    padding-top: 0;
}


#section-profile-new-post .title {
    font-size: 23px;
    text-align: center;
    margin: 1rem 0;
}

.new-post textarea {
    height: 76px;
    max-height: 200px;
}

.new-post-container .pop-up {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    opacity: 0.3;
    z-index: 5;
    box-sizing: content-box;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    display: none;
}

#whole-new-post-link {
    margin-bottom: 2em;
}

.new-post-wall {
    padding-top: 1rem;
}

.new-post-wall textarea {
    height: 56px;
}

/*  */
/* IMAGE PREVIEW */
/*  */

.new-post .image-preview-parent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1%;
    max-height: 311px;
    overflow: auto;
}

.new-post .image-preview {
    display: none;
}

.new-post .image-preview {
    border: 2px solid white;
    position: relative;
}

.new-post .image-preview>img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
}

.new-post .image-box {
    position: relative;
    border: 1px solid lightgrey;
    border-radius: 8px;
    display: none;
}

/* CLASSES */

.image-preview .remove-container {
    top: .5rem;
    right: .5rem;
    transform: scale(.8);
}

.remove-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    display: flex;
}

.remove-button-grey {
    background-color: #F0F2F5 !important;
    border: 1px solid #F0F2F5 !important;
}

.remove-button-grey:hover {
    background-color: #E4E6EB !important;
    border: 1px solid #E4E6EB !important;
}

.remove-button {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    position: relative;
    background-color: white;
    border: 1px solid lightgrey;
}

.remove-button:hover {
    background-color: #F0F2F5;
}

.remove-button>i {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yS/r/GSh8eXrNsHf.png);
    background-position: -132px -88px;
    background-size: 190px 168px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

/* TEMPLATE */

.new-post-template {
    position: relative;
}

.new-post-template .photo-button {
    background-color: #dedfe0;
    font-weight: 700;
    position: relative;
    border-color: #dedfe0;
    box-shadow: none;
}

.new-post-template .photo-button:hover {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
}

.new-post-template .photo-button>i {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yp/r/m7Za9Uuz06h.png);
    background-position: 0px -326px;
    background-size: 26px 392px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.new-post-template .photo-button span {
    margin-left: 23px;
}


.new-post-template .post-button {
    font-weight: 700;
    float: right;
}