/* *** */
/* ALL-POSTS */
/* *** */

#posts .posts-info .non-display {
    display: none;
}

#posts .posts-info .display {
    display: none;
}

#posts .loading {
    text-align: center;
    padding: 1em;
}

.no-more {
    text-align: center;
    padding: 1em;
}

#post-template {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

#post-template .dropdown {
    display: none;
}

#post-template .author a:hover {
    text-decoration: underline;
}



#post-template.active {
    opacity: 1;
    height: auto;
}

#posts .post {
    background-color: white;
    border-radius: 7px;
    padding: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



.post-info {
    display: flex;
    position: relative;
}

.post-info .avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 14px;
}

.post-info .author {
    font-size: 14px;
    font-weight: 700;
}

.post-info .author a {
    color: inherit;
    text-decoration: none;
}

.post-toggle-container {
    position: absolute;
    right: 0.25rem;
}

.post-toggle {
    border-radius: 50%;
    height: 33px;
    padding: 0;
    width: 33px;
    position: relative;
    border: none;
    background-color: white;
}

.post-toggle .dots {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-toggle:hover {
    background-color: #F0F2F5;
}

.post-option {
    background-color: white;
    width: 100%;
    border: none;
    padding: .25rem 1rem;
    font-size: 15px;
    text-align: left;
    display: block;
}

.post-option:hover {
    background-color: #F0F2F5;
}

/* PHOTOS */

#posts .image-parent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#posts .image-template {
    display: none;
}

#posts .image {
    border: 1px solid white;
}

#posts .image>img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}