#hidden-info {
    visibility: hidden;
}

#section-profile {
    margin-left: 13.5%;
    width: 78%;
}

/* *** */
/* COVER-PHOTO */
/* *** */

#cover-photo {
    position: relative;
    height: 463px;
}

#cover-photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0 0 7px 7px;
}

#cover-photo .dropdown {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* dropdown caret button */
#cover-photo .dropdown-toggle {
    border: none;
    color: white;
    font-weight: 700;
    font-size: 15px;
    background-color: #191919;
    padding: 10px 20px;
    margin: 1em 2em;
}

#cover-photo .dropdown-toggle::after {
    content: none
}

#cover-photo .dropdown-menu.show {
    inset: 0px 0px auto auto !important;
}

#cover-photo .input-group {
    width: 400px;
    padding: 8px 18px 3px 18px;
}



/* *** */
/* END COVER-PHOTO */
/* *** */

/* *** */
/* PROFILE-PICTURE */
/* *** */
#basic-info {
    display: flex;
    position: relative;
}

#profile-picture {
    position: relative;
    height: 164px;
    width: 164px;
    margin-top: -30px;
    margin-left: 40px;
}

/* white background cirle */
#profile-picture-circle {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 80px;
    left: 80px;
    transform: translate(-50%, -50%);
}

/* main photo */
#profile-picture img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    left: 80px;
    transform: translate(-50%, -50%);
}

/* dropdown caret button */
#profile-picture .dropdown-toggle {
    width: 164px;
    height: 164px;
    border: none;
}

#profile-picture .dropdown-toggle::after {
    content: none
}

#profile-picture .dropdown-menu {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* upload profile pic form */
#profile-picture .input-group {
    width: 400px;
    padding: 8px 18px 3px 18px;
}



#info {
    margin: 15px 0px 16px 20px;
}

#info .full-name {
    font-weight: 700;
    font-size: 2rem;
}

#info .num-friends {
    font-weight: 700;
    font-size: 18px;
    color: #686868;
}

/*
    SELECT - CONTENT
*/

.myselect a {
    font-weight: bold;
    color: #686868;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 15px;
}

.myselect a.active {
    color: hsl(214, 89%, 52%);
}

.myselect a.disabled {
    font-weight: normal;
    pointer-events: none;
    cursor: default;
}

/* *** */
/* END PROFILE-PICTURE */
/* *** */

/* *** */
/* CONTENT */
/* *** */
#overview .content {
    margin-left: 10%;
    width: 80%;
}

#overview {
    background-color: white;
}

/* *** */
/* NEW-POST */
/* *** */

#whole-new-post {
    margin-bottom: 2em;
}

#new-post {
    background-color: white;
    padding: 1em;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#new-post textarea {
    overflow: hidden;
    height: 56px;
}

/* PHOTO BUTTON */

#new-post .photo-button {
    background-color: #dedfe0;
    font-weight: 700;
    position: relative;
    border-color: #dedfe0;
    box-shadow: none;
}

#new-post .photo-button:hover {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
}

#new-post .photo-button>i {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yp/r/m7Za9Uuz06h.png);
    background-position: 0px -326px;
    background-size: 26px 392px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#new-post .photo-button span {
    margin-left: 23px;
}

/* IMAGE PREVIEW */
#new-post .image-box {
    position: relative;
    border: 1px solid lightgrey;
    border-radius: 8px;
    /* display: none; */
}

#new-post .erase-image-container {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

#new-post .erase-image-button {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    position: relative;
    background-color: white;
    border: 1px solid lightgrey;
}

#new-post .erase-image-button:hover {
    background-color: #F0F2F5;
}

#new-post .erase-image-button>i {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yS/r/GSh8eXrNsHf.png);
    background-position: -132px -88px;
    background-size: 190px 168px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#new-post .image-preview-parent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1%;
}

#new-post .image-preview-template {
    display: none;
}

#new-post .image-preview {
    border: 2px solid white;
}

#new-post .image-preview>img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
}

#new-post .post-button {
    font-weight: 700;
    float: right;
}

/* *** */
/* ALL-POSTS */
/* *** */

#posts .posts-info .non-display {
    display: none;
}

#posts .posts-info .display {
    display: none;
}

#posts .loading {
    text-align: center;
    padding: 1em;
}

.no-more {
    text-align: center;
    padding: 1em;
}

#post-template {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

#post-template .author a {
    color: inherit;
    text-decoration: none;
}

#post-template .author a:hover {
    text-decoration: underline;
}

.mylink {
    color: inherit;
    text-decoration: none;
}

.mylink:hover {
    text-decoration: underline;
}

#post-template.active {
    opacity: 1;
    height: auto;
}

#posts .post {
    background-color: white;
    border-radius: 7px;
    padding: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



#posts .all-posts .post-info {
    display: flex;
}

#posts .all-posts img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 14px;
}

#posts .all-posts .author {
    font-size: 14px;
    font-weight: 700;
}

/* *** */
/* END ALL-POSTS */
/* *** */