body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0F2F5;
}

nav .dropdown-menu {
    min-width: 8rem;
}

.navbar-brand img {
    width: 120px;
    height: 24px;
}

a.navbar-brand {
    padding-top: 0;
    padding-left: 0.5rem;
}

.main {
    display: flex;
    background-color: #F0F2F5;
    min-height: 647px;
}

.main #vertical-nav {
    position: fixed;
    height: 100%;
    width: 59px;
    border-right: #b7b7b7 1px solid;
}

.main .content {
    margin-left: 13.5%;
    width: 78%;
}

/*  */

footer {
    margin-left: 10%;
    margin-right: 5%;
    width: 85%;
    font-size: 14px;
}