{% load static %}
<div id="section-profile-new-post" class="whole-new-post">
    <div id="" class=" new-post-container row">
        <div class="col-12 title-section">
            <div class="title">Create post</div>
            <div class="remove-container">
                <button type="button" class="remove-button remove-button-grey">
                    <i data-visualcompletion="css-img"></i>
                </button>
            </div>
        </div>
        <hr>
        </hr>
        <div id="new-post" class="new-post new-post-template col-12">
            <form action="{% url 'posts:create_index' user.id %}" method="post" class="needs-validation">
                <div class="mb-3">
                    <div class="mb-3">
                        <textarea class="form-control" name="content" rows="3" placeholder="What's on your mind"
                            required></textarea>
                        <div class="invalid-feedback">
                            Please enter something here..
                        </div>
                    </div>
                    <input class="images-input" type="file" class="form-control" name="images" accept="image/*"
                        multiple="multiple" style="display: none;">
                    <button type="button" class="photo-button btn"
                        onclick="document.querySelector('#new-post .images-input').click();">
                        <i data-visualcompletion="css-img"> </i>
                        <span>Add
                            photos</span></button>
                    <div class="col-4 image-preview-template image-preview">
                        <img src="{% static 'posts/images/default-cover-photo.jpg' %}" alt="">
                        <div class="remove-container">
                            <button type="button" class="remove-button">
                                <i data-visualcompletion="css-img"></i>
                            </button>
                        </div>
                    </div>
                    <div class="image-box">
                        <div class="image-preview-parent">
                            <!-- <div class="col-4 image-preview">
                                <img src="{% static 'posts/images/default-cover-photo.jpg' %}" alt="">
                            </div>
                            <div class="col-4 image-preview">
                                <img src="{% static 'posts/images/default-cover-photo.jpg' %}" alt="">
                            </div> -->
                        </div>
                    </div>
                </div>
                <button type="submit" class="post-button btn btn-primary font-weight-bold">Post</button>
            </form>
        </div>
        <div class="pop-up"></div>
    </div>
</div>