{% load static %}
<div id="posts" class="col-7">
    <div id="whole-new-post-link" class="">
        <div class="row">
            <div id="new-post-link" class="new-post-container new-post-template new-post-wall col-10 offset-1">
                <form action="{% url 'posts:create_index' user.id %}" method="post">
                    <div class="mb-3">
                        <textarea class="form-control mb-3" name="content" rows="3" placeholder="What's on your mind"
                            required></textarea>
                        <button type="button" class="photo-button btn">
                            <i data-visualcompletion="css-img"> </i>
                            <span>Add
                                photos</span>
                        </button>
                    </div>
                    <button type="submit" class="post-button btn btn-primary font-weight-bold" disabled>Post</button>
                </form>
            </div>
        </div>
    </div>
    <!-- ALL THE POSTS -->
    <div class="all-posts">
    </div>
    <div class="col-4 image-template image">
        <a href="">
            <img src="{% static 'posts/images/default-cover-photo.jpg' %}" alt="">
        </a>
    </div>
    <div class="post-template whole-post row">
        <div class="post col-10 offset-1">
            <div class="post-info">
                <a href="" class="profile-link">
                    <img class="avatar"
                        src="https://res.cloudinary.com/dtgokkyl1/image/upload/c_fill,h_40,w_40/v1/media/profile_pictures/casemiro_xwaave"
                        alt="">
                </a>
                <div>
                    <div class="author">
                        <a href="" class="profile-link" name="name">Manh Tran</a>
                    </div>
                    <div class="pub-date small text-muted" name="datetime">December 4, 2023</div>
                </div>
                <div class="dropdown post-toggle-container">
                    <!-- <button type="button" class="remove-button remove-button-grey">
                        ...
                    </button> -->
                    <button class="post-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img class="dots" src="{% static 'three-dots.jpg' %}" alt="">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="" class="post-option edit-link non-link">Edit post</a>
                    </div>
                </div>
            </div>
            <div class="post-text small my-2">
                Today is Sunday April 23rd. Our big family, Mr Phung's descendants took a trip to our
                hometown at Hao Lai town, Cap Tien Commune, Tien Lang district, Hai Phong city. This is
                a honoured tradition of Vietnamese people where we as descendants visit our homeland,
                pay tribute to ancestors during warm spring time of the year. </div>

            <div class="photos">
                <div class="image-parent">
                    <div class="col-4 image">
                        <img src="{% static 'posts/images/default-cover-photo.jpg' %}" alt="">
                    </div>
                    <div class="col-4 image">
                        <img src="{% static 'posts/images/default-cover-photo.jpg' %}" alt="">
                    </div>
                    <div class="col-4 image">
                        <img src="{% static 'posts/images/default-cover-photo.jpg' %}" alt="">
                    </div>
                    <div class="col-4 image">
                        <img src="{% static 'posts/images/default-cover-photo.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row posts-info">
        <div class="display">
            <div class="loading col-6 offset-3 text-muted">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </div>
            <div class="no-more col-6 offset-3 py-4">
                <div class="post-text text-muted small">
                    There are no more posts to show right now.</div>
            </div>
        </div>
        <div class="non-display">
            <div class="no-more col-6 offset-3 py-4">
                <div class="post-text">
                    Add friend me to view my posts my friend!</div>
            </div>
        </div>
    </div>

</div>