<section id="section-newsfeed">

    <div id="newsfeed" class="row mx-0">
        <div class="post-container col-6 offset-3">
            <!-- ALL POSTS -->
            <div class="all-posts">
            </div>
            <!-- POSTS INFO -->
            <div class="row posts-info">
                <div class="display">
                    <div class="loading col-6 offset-3 text-muted">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </div>
                    <div class="no-more col-6 offset-3 py-4">
                        <div class="post-text text-muted small">
                            There are no more posts to show right now.</div>
                    </div>
                </div>
                <div class="non-display">
                    <div class="no-more col-6 offset-3 py-4">
                        <div class="post-text">
                            Add friend me to view my posts my friend!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>