{% block content %}

<section id="section-photo">
    <div id="section-photo-content">
        <div id="photo-display">
            <div class="background">
            </div>
            <img class="image"
                src="https://res.cloudinary.com/dtgokkyl1/image/upload/v1/media/profile_pictures/casemiro_xwaave"
                alt="">
            <div class="remove-container">
                <button type="button" class="remove-button">
                    <i data-visualcompletion="css-img"></i>
                </button>
            </div>
        </div>
        <div id="photo-info">
            <div class="post-info">
                <a href="">
                    <img class="avatar" src="" alt="">
                </a>
                <div>
                    <div class="author">
                        <a href="" name="name">Manh Tran</a>
                    </div>
                    <div class="pub-date small text-muted" name="datetime">December 4, 2023 3:03 PM</div>
                </div>
            </div>
        </div>
        <div id="photo-chat">
            <div class="content">
            </div>
        </div>
    </div>
</section>

{% endblock %}