<div id="hidden-info">
    {% include 'main/components/_friending.html' %}
    {% include 'main/components/_user.html' %}
</div>
{% load static %}

<section id="section-profile">
    {% include 'main/profile/_newPost.html' %}


    <section id="section-profile-main">
        <!-- COVER-PHOTO -->
        <div id="cover-photo">
            <img src="" alt="cover-photo">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Update cover photo
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form action="{% url 'users:upload_cover'  %}" method="post" enctype="multipart/form-data">
                        <div class="input-group mb-2">
                            <input type="file" class="form-control" name="file" accept="image/*">
                            <button type="submit" class="input-group-text" disabled>Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- BASIC INFO: PROFILE PIC, INFO, FRIENDING -->
        <div id="basic-info">
            <div id="profile-picture">
                <div id="profile-picture-circle"></div>
                <img src="" alt="profile-picture">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <form action="{% url 'users:upload_profile' %}" method="post" enctype="multipart/form-data">
                            <div class="input-group mb-2">
                                <input type="file" class="form-control" name="file" accept="image/*"
                                    multiple="multiple">
                                <button type="submit" class="input-group-text" disabled>Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="info">
                <div class="full-name"></div>
                <div class="num-friends">friends</div>
            </div>


        </div>

        <hr>
        <!-- SELECT -->
        <div class="myselect mb-3" name="section">
            <a class="posts click" href="#">Posts</a>
            <a class="disabled" href="#">About</a>
            <a name="friends" href="#">Friends</a>
            <a class="disabled" href="#">Photos</a>
            <a class="disabled" href="#">Videos</a>
            <a class="disabled" href="#">More</a>
        </div>
        <hr>

        <!-- SELECT-CONTENT -->
        <div class="myselect-content" name="section">
            <div class="section-posts row">
                <div id="overview" class="col-12 col-lg-5">
                    Intro
                    <div style="height: 200px"></div>
                </div>
                {% include 'main/profile/_posts.html' %}

            </div>
            <div class="section-about row"></div>
            <div name="friends" class="row">
                <div class="myselect mb-3" name="friends">
                    <a name="all-friends" class="active" href="{% url 'friending:index' user.id %}">All friends</a>
                    <a name="friend-requests" class="home-required" href="{% url 'friending:requests' %}">Friend
                        requests</a>
                </div>
                <div class="myselect-content" name="friends">
                    <div name="all-friends" class="row">

                    </div>
                    <div name="friend-requests" class="row"></div>
                </div>


            </div>
            <div class="section-photos row"></div>
            <div class="section-videos row"></div>
            <div class="section-more row"></div>
        </div>

    </section>
    {% include 'main/_photo.html' %}

</section>