{% block content %}

<section id="section-search">
    <div id="section-search-content">
        <div id="search-panel">
            <div name="content">
                <div class="title">Search results</div>
                <hr>
                </hr>
                <div class="filter-title">Filters</div>
                <div class="select">
                    <a href="#">
                        <div class="select-people my-3">
                            <div class="round">
                                <i data-visualcompletion="css-img"> </i>
                            </div>
                            <span>People</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div id="search-result">
            <div class="results">


            </div>
            <div class="no-more col-6 offset-3 py-4">
                <div class="post-text text-muted small">
                    There are no more results to show right now.</div>
            </div>
        </div>
    </div>
</section>

{% endblock %}