{% extends "base.html" %}

{% block title %}Facebook - Profile{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'main/stylesheets/components/userTemplate.css' %}">
<link rel="stylesheet" href="{% static 'main/stylesheets/components/friending.css' %}">
<link rel="stylesheet" href="{% static 'main/stylesheets/components/components.css' %}">
<link rel="stylesheet" href="{% static 'main/stylesheets/main.css' %}">
<link rel="stylesheet" href="{% static 'main/stylesheets/profile.css' %}">
<link rel="stylesheet" href="{% static 'main/stylesheets/newsfeed.css' %}">
<link rel="stylesheet" href="{% static 'main/stylesheets/newPost.css' %}">
<link rel="stylesheet" href="{% static 'main/stylesheets/posts.css' %}">
<link rel="stylesheet" href="{% static 'main/stylesheets/search.css' %}">
<link rel="stylesheet" href="{% static 'main/stylesheets/photo.css' %}">
{% endblock %}

{% block content %}

{% include 'main/_search.html' %}
{% include 'main/_profile.html' %}
{% include 'main/_newsfeed.html' %}
{% include 'main/_photo.html' %}

{% endblock %}

{% block script %}
<script type="module" src="{% static 'main/scripts/main.js' %}"></script>
{% endblock %}