.user-template {
    position: relative;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    width: 48%;
    margin-left: 1.5%;
    display: none;
}

.user-template [name='profile-picture'] {
    border-radius: 8px;
    margin-right: .75rem;
}

.user-template a {
    font-weight: bold;
}

.user-template a[name='pic'] {
    display: contents;
}