{% load static %}
<div id="hidden-info">
    <form class="index-form" action="{% url 'posts:create_index' user.id %}"></form>
</div>

<section class="content">
    <!-- COVER-PHOTO -->
    <div id="cover-photo">
        <img src="{% if user.cover_photo %}{{ cover_url }}{% else %}
            {% static 'posts/images/default-cover-photo.jpg' %}{% endif %}" alt="cover-photo">
        {% if current_user.id == user.id %}
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Update cover photo
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <form action="{% url 'posts:upload_cover' user.id %}" method="post" enctype="multipart/form-data">
                    <div class="input-group mb-2">
                        <input type="file" class="form-control" name="file">
                        <button type="submit" class="input-group-text" disabled>Update</button>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- BASIC INFO: PROFILE PIC, INFO, FRIENDING -->
    <div id="basic-info">
        <div id="profile-picture">
            <div id="profile-picture-circle"></div>
            <img src="{% if user.profile_picture %}{{ profile_url_round }}{% else %}
                {% static 'posts/images/default-profile-picture.jpg' %}{% endif %}" alt="profile-picture">
            {% if current_user.id == user.id %}
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form action="{% url 'posts:upload_profile' user.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="input-group mb-2">
                            <input type="file" class="form-control" name="file">
                            <button type="submit" class="input-group-text" disabled>Update</button>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
        <div id="info">
            <div class="full-name">{{user.first_name}} {{user.last_name}}</div>
            <div class="num-friends">{{num_friends}} friends</div>
        </div>
        <!-- FRIENDING -->
        <div class="friending">

            <div class="friending-non-friend">
                <form name="add-friend" action="{% url 'friending:general' user.id %}" method="post">
                    <button type="submit" class="btn btn-primary">
                        <img class="invert" src="{% static 'posts/images/add-friend.png' %}" alt="">
                        &nbsp;Add friend</button>
                </form>
            </div>

            <div class="friending-request-sent">
                <form name="cancel-request" action="{% url 'friending:delete' user.id %}" method="post">
                    <button type="submit" class="btn btn-light negative cancel-button">
                        <img src="{% static 'posts/images/cancel-request.png' %}" alt="">
                        &nbsp;Cancel request</button>
                </form>
            </div>

            <div class="dropdown friending-request-received">
                <button type="button" class="btn btn-primary dropdown-toggle" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="invert" src="{% static 'posts/images/befriend.png' %}" alt="">
                    &nbsp;Respond</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form name="confirm-request" action="{% url 'friending:update' user.id %}" method="post">
                        <button type="submit" class="btn btn-link btn-confirm dropdown-item">Confirm</button>
                    </form>
                    <form name="delete-request" action="{% url 'friending:delete' user.id %}" method="post">
                        <button type="submit" class="btn btn-link btn-delete-request dropdown-item">Delete
                            request</button>
                    </form>
                </div>
            </div>

            <div class="dropdown friending-friend">
                <button type="button" class="btn btn-light negative dropdown-toggle" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{% static 'posts/images/befriend.png' %}" alt="">
                    &nbsp;Friends</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form name="unfriend" action="{% url 'friending:delete' user.id %}" method="post">
                        <button type="submit" class="btn btn-link btn-confirm dropdown-item">Unfriend</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <hr>
    <div id="section-select" class="mb-3">
        <a class="posts active" href="#">Posts</a>
        <a class="disabled" href="#">About</a>
        <a class="friends" href="{% url 'friending:index' user.id %}">Friends</a>
        <a class="disabled" href="#">Photos</a>
        <a class="disabled" href="#">Videos</a>
        <a class="disabled" href="#">Reel</a>
        <a class="disabled" href="#">More</a>
    </div>
    <hr>

    <!-- SECTION POSTS -->
    <div id="section-content">
        <div class="row section-friends">
            <div class="friend-template p-3 mb-2 col-6">
                <img name="friend-profile-picture"
                    src="https://res.cloudinary.com/dtgokkyl1/image/upload/c_fill,h_80,w_80/v1/media/profile_pictures/elizabeth_olsen_etrm8v.jpg"
                    alt="">
                <a href="#" class="mylink">Manh Tran</a>
            </div>
        </div>
        <div class="row section-posts">
            <div id="overview" class="col-5">
                Intro
                <div style="height: 200px"></div>
            </div>
            <div id="posts" class="col-7">
                {% if current_user.id == user.id %}
                <div id="whole-new-post">
                    <div class="row">
                        <div id="new-post" class="col-10 offset-1">
                            <form action="{% url 'posts:create_index' user.id %}" method="post">
                                <div class="mb-3">
                                    <textarea class="form-control" name="content" rows="3"
                                        placeholder="What's on your mind"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary font-weight-bold" disabled>Make a
                                    Post!</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}

                <!-- ALL THE POSTS -->
                <div class="all-posts">
                </div>
                <div id="post-template" class="whole-post row">
                    <div class="post col-10 offset-1">
                        <div class="post-info">
                            <a href="{% url 'posts:profile' user.id %}">
                                <img src="https://res.cloudinary.com/dtgokkyl1/image/upload/c_fill,h_40,w_40/v1/media/profile_pictures/casemiro_xwaave"
                                    alt="">
                            </a>
                            <div>
                                <div class="author">
                                    <a href="{% url 'posts:profile' user.id %}">Manh Tran</a>
                                </div>
                                <div class="pub-date small text-muted">December 4, 2023</div>
                            </div>
                        </div>
                        <div class="post-text small mt-2">
                            Today is Sunday April 23rd. Our big family, Mr Phung's descendants took a trip to our
                            hometown at Hao Lai town, Cap Tien Commune, Tien Lang district, Hai Phong city. This is
                            a honoured tradition of Vietnamese people where we as descendants visit our homeland,
                            pay tribute to ancestors during warm spring time of the year. </div>
                    </div>
                </div>

                <div class="row posts-info">
                    <div class="display">
                        <div class="loading col-6 offset-3 text-muted">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </div>
                        <div class="no-more col-6 offset-3 py-4">
                            <div class="post-text text-muted small">
                                There are no more posts to show right now.</div>
                        </div>
                    </div>
                    <div class="non-display">
                        <div class="no-more col-6 offset-3 py-4">
                            <div class="post-text">
                                Add friend me to view my posts my friend!</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>