{% extends "base.html" %}

{% block title %}Facebook - Home{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'posts/stylesheets/home.css' %}">
{% endblock %}

{% block content %}

{% if state == 'error' %}
{% include 'posts/_error.html' %}
{% else %}
{% include 'posts/_homeMain.html' %}
{% endif %}

{% endblock %}

{% block script %}
<script type="module" src="{% static 'posts/scripts/helper.js' %}"></script>
<script type="module" src="{% static 'posts/scripts/home.js' %}"></script>
{% endblock %}