{% extends "base.html" %}

{% block title %}Facebook - Log in or Register{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'posts/stylesheets/login.css' %}">
{% endblock %}

{% block content %}
<main id="container" class="text-center">
    <div id="content" class="row">
        <section class="col-7" id="whole-brand">
            <div id="brand"><img src="./../../static/posts/images/fb-logo.svg" alt="Sorry the image is not rendered!">
            </div>
            <div id="logo">Facebook helps you connect and share with the people in your life.</div>
        </section>
        <section class="col-5" id="all-form">
            <form id="form" action="{% url 'posts:login' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <button id="login" type="submit" class="btn btn-primary">Log in</button>

            </form>
            <div id="other">
                <div id="forgot"><a href="#">Forgotten password?</a></div>
                <hr>
                </hr>
                <div id="register">
                    <button type="submit" class="btn btn-primary" onclick="openRegisterPopup()">Create new
                        account</button>
                </div>
            </div>
        </section>
    </div>
</main>
<section id="whole-popup">
    <div id="popup-bg">
    </div>
    <div id="popup">
        <a href="#" class="close" onclick="closeRegisterPopup()">X</a>
        <h3>Sign Up</h3>
        <div class="text-muted">Its quick and easy.</div>
        <hr>
        </hr>
        <form action="{% url 'posts:register' %}" method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="mb-3 col-6">
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First name"
                        required>
                </div>
                <div class="mb-3 col-6">
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last name"
                        required>
                </div>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email address" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                    required>
            </div>
            <div id="whole-dob" class="mb-3">
                <div class="text-muted"><small>Date of birth</small></div>
                <div class="row" id="dob">
                    <div class="col-4">
                        <select name="day" class="form-select" id="daySelect" aria-label="DOB day select">
                            <option value="">Day</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <select name="month" class="form-select" id="monthSelect" aria-label="DOB month select">
                            <option value="">Month</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <select name="year" class="form-select" id="yearSelect" aria-label="DOB year select">
                            <option value="">Year</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="whole-gender" class="mb-3">
                <div class="text-muted"><small>Gender</small></div>
                <div class="row" id="gender">
                    <div class="col-4 form-check">
                        <label class="form-check-label" for="genderRadio1">
                            Female
                        </label>
                        <input class="form-check-input" type="radio" name="gender" id="genderRadio1" value="F">
                    </div>
                    <div class="col-4 form-check">
                        <label class="form-check-label" for="genderRadio2">
                            Male
                        </label>
                        <input class="form-check-input" type="radio" name="gender" id="genderRadio2" value="M" checked>
                    </div>
                    <div class="col-4 form-check">
                        <label class="form-check-label" for="genderRadio3">
                            Other
                        </label>
                        <input class="form-check-input" type="radio" name="gender" id="genderRadio3" value="O">
                    </div>
                </div>
            </div>
            <div id="term">
                <p>People who use our service may have uploaded your contact information to Facebook.
                    Learn more.
                </p>
                <p>By clicking Sign Up, you agree to our Terms, Privacy Policy and Cookies Policy. You
                    may receive
                    SMS notifications from us and can opt out at any time.</p>
            </div>
            <div id="sign-up">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block script %}
<script src="{% static 'posts/scripts/login.js' %}"></script>
{% endblock %}