<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My amazing site{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/stylesheets/base.css' %}">
    {% block css %}{% endblock %}
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'main:main' current_user.id %}">
                <img src="{% static 'posts/images/fb-Logo.png' %}" alt="">
            </a>
            <div id="search-bar">
                <label for="search-input">
                    <div class="glass"><img src="{% static 'loupe.png' %}" alt=""></div>
                </label>
                <form id="search-form" action="{% url 'users:search_data' %}">
                    <div class="space"></div>
                    <input type="search" id="search-input" class="form-control" />
                </form>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse me-auto" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li>
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Hi, {{ current_user.first_name}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <form action="{% url 'users:logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-link btn-logout dropdown-item">Logout</button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="main">
        <div id="vertical-nav">
            <ul class="nav flex-column">
                <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="#">Feeds</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Video</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Game</a>
                </li> -->
            </ul>
        </div>
        {% block content %}
        {% endblock %}
    </main>
    <!-- <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-5 border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; 2022 Company, Inc</p>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
    </footer> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <script type="text/javascript">     window.CSRF_TOKEN = "{{ csrf_token }}";
        window.mode = "{{ mode }}"
        window.search_data_url = "{{ search_data_url }}"
        window.search_url = "{{ search_url }}"
        // window.search_query = "{{ search_query }}"
        window.FRIENDING_STATE = {
            Self: 'SELF',
            NonFriend: 'NON-FRIEND',
            RequestSent: 'REQUEST-SENT',
            RequestReceived: 'REQUEST-RECEIVED',
            Friend: 'FRIEND',
        }
        window.currentUserId = "{{ current_user.id }}"
        window.secondUserMainUrl = "{{ second_user_main_url }}"
        if (typeof Element.prototype.clearChildren === 'undefined') {
            Object.defineProperty(Element.prototype, 'clearChildren', {
                configurable: true,
                enumerable: false,
                value: function () {
                    while (this.firstChild) this.removeChild(this.lastChild);
                }
            });
        }
    </script>
    <script type="module" src="{% static 'main/scripts/base.js' %}"></script>
    <script type="module" src="{% static 'main/scripts/search/search.js' %}"></script>

    {% block script %}{% endblock %}
</body>

</html>